.mat-toolbar {
    background-color: #2e7383;
    text-align: right !important;
}

.mat-form-field {
    font-size: 15px;
    width: 500px;
}

p {
    font-size: 17px;
}

p span {
    color: rgb(3, 84, 124);
    text-align: right;
    float: right;
}

.example-card {
    max-width: 400px;
    margin-left: 25%;
    background: rgb(223, 223, 223)
}

mat-grid-tile {
    font-weight: bolder;
    font-size: 16px;
}

mat-grid-tile span {
    color: rgb(30, 127, 203);
    float: left;
}

mat-card-title span {
    color: rgb(30, 127, 203);
    float: left;
}

mat-grid-tile .dsg {
    color: rgb(0, 0, 0);
    right: 0;
}
