<form #updateform="ngForm" role="form" (ngSubmit)="reset()">
  <h1 mat-dialog-title>Réinitialisation du mot de passe</h1>
  <div mat-dialog-content>
    <p style="color: #08c; font-size: 10px">Ces informations sont confidentielles*</p>
    <mat-form-field class="inputForm" appearance="legacy">
      <mat-label>Login de l'utilisteur</mat-label>
      <input matInput name="referenceUtilisateur" [(ngModel)]="model.login">
    </mat-form-field> <br>
    <mat-form-field class="inputForm" appearance="legacy">
    <input matInput maxlength="8" placeholder="Entrer Le nouveau mot de passe" [type]="hide ? 'password' : 'text'" name="password"
      [(ngModel)]="model.password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    </mat-form-field><br/>
    <mat-form-field>
      <input matInput maxlength="8" placeholder="Confirmer le nouveau mot de passe" [type]="hide ? 'password' : 'text'" name="nouveau"
        [(ngModel)]="nouveau">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div> <br/>
  <div mat-dialog-actions style="float: right">
    <button mat-button [mat-dialog-close]="'CLOSED'">Annuler</button>
    <button mat-button style="background: #08c" type="submit" class="button">Modifier</button>
  </div>
</form>