<form #agenceForm="ngForm" role="form" (ngSubmit)="save()">
    <div mat-dialog-content>
        <div *ngIf="ShowWindow">
            <h2 mat-dialog-title>Confirmation de suppression</h2>
            <mat-progress-bar *ngIf="_progress" mode="indeterminate"></mat-progress-bar>
            <mat-dialog-content>
                <div>
                    Voulez vous vraiment supprimer cet collecteur ?
                </div>
            </mat-dialog-content>
            <mat-dialog-actions style="float: right;">
                <button mat-raised-button color="warn" [mat-dialog-close]="'CLOSED'">NON</button>
                <button type="button" mat-raised-button color="primary" (click)="DoDel()">OUI</button>
            </mat-dialog-actions>
        </div>
        <div *ngIf="!ShowWindow" style="overflow: visible;">
            <mat-toolbar color="primary">CPE</mat-toolbar>
            <mat-progress-bar *ngIf="_progress" mode="indeterminate"></mat-progress-bar><br/>
            <!-- <mat-form-field class="inputForm" appearance="legacy">
                <mat-label>Référence</mat-label>
                <input matInput name="referenceUtilisateur" [(ngModel)]="model.referenceUtilisateur">
            </mat-form-field> -->

            <mat-form-field class="inputForm" appearance="legacy">
                <mat-label>Nom</mat-label>
                <input matInput name="nom" [(ngModel)]="model.nom">
            </mat-form-field>
            <mat-form-field class="inputForm">
                <input matInput placeholder="Prénom" name="prenom" [(ngModel)]="model.prenom">
            </mat-form-field>
            <mat-form-field class="inputForm">
                <mat-label>Sexe</mat-label>
                <mat-select name="sexe" [(ngModel)]="model.sexe">
                    <mat-option>--</mat-option>
                    <mat-option value="Masculin"> Homme </mat-option>
                    <mat-option value="Feminin"> Femme </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="inputForm">
                <input matInput placeholder="Zone Couverte" name="zoneCouverte" [(ngModel)]="model.cpe.zoneCouverte">
            </mat-form-field>
            <mat-form-field class="inputForm">
                <input matInput placeholder="Nom D'Utilisateur" name="login" [(ngModel)]="model.login">
            </mat-form-field>
            <mat-form-field class="inputForm">
                <input matInput placeholder="Contact téléphonique" name="telephone" [(ngModel)]="model.telephone">
            </mat-form-field>
            <mat-form-field class="inputForm" appearance="legacy">
                <input type="password" maxlength="8" matInput placeholder="Mot de passe" maxlength="8" name="password" [(ngModel)]="model.password" style="border: none;  margin-bottom: -2px">

            </mat-form-field>
            <mat-form-field class="inputForm" appearance="legacy">
                <input type="password" maxlength="8" matInput placeholder="Confirmer" maxlength="8" name="confirmer" [(ngModel)]="confirmer" style="border: none; margin-bottom: -2px">

            </mat-form-field>
            <mat-form-field class="inputForm">
                <input placeholder="Photo Collecteur" [(ngModel)]="image_url" disabled name="image_url" matInput #message maxlength="200">
                <button type="button" matSuffix mat-button mat-mini-fab (click)="file.click()">
                  <i class="mdi mdi-cloud-upload menu-icon"></i>
              </button>
                <input hidden type="file" #file (change)="onChangeImag()" required />
            </mat-form-field>

        </div>
    </div>

    <div mat-dialog-actions class="pull-right" *ngIf="!ShowWindow">
      <button class="btn btn-light" [mat-dialog-close]="'CLOSED'">ANNULER</button> &nbsp;&nbsp;
      <button  class="btn btn-gradient-primary mr-2" type="submit" [disabled]="!image_url" > Valider</button>
    </div>
</form>
