<form #agenceForm="ngForm" role="form" (ngSubmit)="save()">
    <div mat-dialog-content>
        <div *ngIf="ShowWindow">
            <h2 mat-dialog-title>Confirmation de suppression</h2>
            <mat-progress-bar *ngIf="_progress" mode="indeterminate"></mat-progress-bar>
            <mat-dialog-content>
                <div>
                    Voulez vous vraiment supprimer ce Client ?
                </div>
            </mat-dialog-content>
            <mat-dialog-actions style="float: right;">
                <button mat-raised-button color="warn" [mat-dialog-close]="'CLOSED'">NON</button>
                <button type="button" mat-raised-button color="primary" (click)="DoDel()">OUI</button>
            </mat-dialog-actions>
        </div>
        <div *ngIf="!ShowWindow" style="overflow: visible;">
            <mat-toolbar color="primary">Versement</mat-toolbar>
            <mat-progress-bar *ngIf="_progress" mode="indeterminate"></mat-progress-bar>
            <br/>
            <!-- <mat-form-field class="inputForm" appearance="legacy">
                <mat-label>Référence</mat-label>
                <input matInput name="referenceClient">
            </mat-form-field> -->

            <mat-form-field class="inputForm" appearance="legacy">
                <mat-label>Nom</mat-label>
                <input matInput name="nomClient">
            </mat-form-field>
            <mat-form-field class="inputForm">
                <input matInput placeholder="Prénom" name="prenomClient">
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-actions class="pull-right" *ngIf="!ShowWindow">
        <button mat-raised-button [mat-dialog-close]="'CLOSED'">ANNULER</button> &nbsp;&nbsp;
        <button mat-raised-button style="background: #08c" type="submit" class="button">
            Valider
          </button>
    </div>
</form>