table {
    width: 92%;
}

.mat-paginator {
    width: 92%;
}

.mat-form-field {
    font-size: 14px;
    width: 50%;
}

.container {
    margin: auto;
    padding: 20px;
}

.mat-header-cell {
    background-color: #9a55ff;
    color: #f5f5ff;
    text-align: center;
}

.mat-cell {
    text-align: center;
}

.inputForm {
    width: 100%;
}

.mat-toolbar {
    background: linear-gradient(to right, #da8cff, #9a55ff) !important;
    box-shadow: 1px 1px 12px rgb(102, 102, 102);
}

.snakColor {
    background: rgb(45, 180, 45);
}
