table {
    width: 92%;
}

.mat-paginator {
    width: 92%;
}

.mat-form-field {
    font-size: 14px;
    width: 50%;
}

.container {
    margin: auto;
    padding: 20px;
}

.mat-header-cell {
    background-color: #08c;
    color: #f5f5ff;
    text-align: center;
}

.mat-cell {
    text-align: center;
}

.inputForm {
    width: 100%;
}

.mat-toolbar {
    background: #08c;
}

.snakColor {
    background: rgb(45, 180, 45);
}