<form #updateform="ngForm" role="form" (ngSubmit)="modifier()">
    <h1 mat-dialog-title>Modification Du Mot De Passe</h1>
    <div mat-dialog-content>
        <p style="color: #08c; font-size: 10px">Ces informations sont confidentielles*</p>
        <mat-form-field>
            <input matInput maxlength="8" placeholder="Entrer L'ancien" [type]="hide ? 'password' : 'text'" name="oldPassword" [(ngModel)]="model.oldPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
        </mat-form-field>
        <mat-form-field>
            <input matInput maxlength="8" placeholder="Confirmer l'ancien" [type]="hide ? 'password' : 'text'" name="ancien" [(ngModel)]="ancien">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
        </mat-form-field>
        <mat-form-field>
            <input maxlength="8" matInput placeholder="Entrer Le nouveau" [type]="hide ? 'password' : 'text'" name="newPassword" [(ngModel)]="model.newPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
        </mat-form-field>
        <mat-form-field>
            <input matInput maxlength="8" placeholder="Confirmer le nouveau" [type]="hide ? 'password' : 'text'" name="nouveau" [(ngModel)]="nouveau">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
        </mat-form-field>
    </div>
    <div mat-dialog-actions style="float: right">
        <button mat-button [mat-dialog-close]="'CLOSED'">Annuler</button>
        <button mat-button style="background: #08c" type="submit" class="button">Modifier</button>
    </div>
</form>