<div class="container">
    <mat-toolbar color="primary" style="width:92%">
        <span class="fill-remaining-space">La Collecte</span>
    </mat-toolbar><br/>
    <div class="d-flex align-items-right float-right" style="margin-right: 100px">
      <button mat-fab style="background-color: #9a55ff; font-size: x-large;" (click)="callToADD()">
        <i class="mdi mdi-plus menu-icon"></i>
      </button>
        <!-- <button mat-fab color="warning" (click)="getDatas()">
            <mat-icon>autorenew</mat-icon>
        </button> -->
    </div>
    <mat-form-field style="width: 30%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field class="inputForm"  style="width: 20%; color: #05a1d1 ; font-weight: bold;">
        <mat-label>Total Collecte</mat-label>
        <input matInput value= "{{total | currency:'XAF':'symbol':'2.0-3':'fr'}}" >
    </mat-form-field>

    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <mat-progress-bar *ngIf="_progress" mode="indeterminate"></mat-progress-bar>

        <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef> PHOTO </th>
            <mat-cell *matCellDef="let item">
                <img mat-card-avatar style="height: 70px; width: 70px; border-radius: 50%;" src="{{imageUrl + item?.photo}}">
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="login">
            <th mat-header-cell *matHeaderCellDef> Référence Client </th>
            <td mat-cell *matCellDef="let item"> {{item?.referenceTontine}} </td>
        </ng-container> -->

        <!-- Weight Column -->
        <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef> Prénom </th>
            <td mat-cell *matCellDef="let item"> {{item?.prenomClient}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td  mat-cell *matCellDef="let item"> {{item?.nomClient}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef> Montant </th>
            <td mat-cell *matCellDef="let item"> {{item?.collecte.montantCollecte | currency:'XAF':'symbol':'2.0-3':'fr'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef> Contact </th>
            <td mat-cell *matCellDef="let item">+229&nbsp;{{item?.telephoneClient}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date de la collecte </th>
            <td mat-cell *matCellDef="let item"> {{item?.collecte.dateCreation | date:'fullDate'}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let i" class="actions">

                <!-- <button mat-icon-button (click)="callToEDIT({data:i, actions: true})">
                <mat-icon>edit</mat-icon>
            </button> -->
                &nbsp;&nbsp;
                <!-- <button mat-icon-button (click)="callToEDIT({data:i, actions: false})">
                <mat-icon>delete</mat-icon>
            </button> -->
                <!-- <button class="mdc-icon-button material-icons delete" (click)="delete(i)">delete</button> -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator showFirstLastButtons (page)="page($event)"></mat-paginator>
</div>
